@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
:root {
  --first-color: #f27256;
  --second-color: #76d3f0;
}
*,
*::before,
::after {
  box-sizing: border-box;
  color: #313131;
  background-color: #efefef;
}

html {
  font-size: 62.5%;
  font-family: "Alice", serif;
  margin: 0;
}

.nav {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 2rem;
  margin-bottom: 10rem;
  color: var(--first-color);
}
.nav-item {
  font-size: 1.8rem;
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 10rem;
}

.nav-item:last-child {
  margin-right: 10rem;
}

.nav-item {
  position: relative;
}

.nav-item:not(:first-child):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--first-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.hello {
  display: flex;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  margin-bottom: 3rem;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  line-height: 3.8rem;
}

.photo {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.photo img {
  max-width: 70%;
  object-fit: cover;
  margin-bottom: 70px;
}

img {
  pointer-events: none;
  max-width: 100%;
  min-width: 100px;
  height: auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
}

.weather-app {
  text-decoration: none;
  position: relative;
}

.weather-app::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--first-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.weather-app:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.container {
  display: grid;
  grid-column: 2;
  grid: auto-flow / 1fr 1fr;
  grid-column-gap: 10em;
  padding-top: 5rem;
}

.description {
  padding-left: 20rem;
  font-size: 2rem;
}

.wapp-pic {
  padding-right: 10rem;
}
.burger {
  display: none;
}

@media (max-width: 800px) {
 

  .container {
    display: grid;
    grid-column: 1;
    grid: auto-flow / 1fr;

    padding-top: 5rem;
  }

  .description {
    padding: 2rem 4rem;
    font-size: 2rem;
    text-align: center;
  }

  .wapp-pic {
    padding: 2rem 4rem;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    margin-top: 100px;
    font-weight: 200;
    font-size: 2.8rem;
    text-align: center;
    line-height: 3.4rem;
    padding: 2rem 4rem;
  }

  .nav {
    margin-bottom: 1rem;
  }

  .nav {
    position: absolute;
    right: 0px;
    height: 100px;
    align-items: center;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
  }
  .nav-item {
    padding: 0.2rem;
    
  }
  .nav-item:last-child {
    margin-right: 1rem;
  }

  .nav-item:first-child {
    display: none;
  }
  /*.burger {
    display: block;
    margin-left: 200px;
    margin-top: 40px;
  }
}
